<div class="btn btn-default btn-sm postlove">
	<!-- IF DISABLE != 1 --><!-- IF !postrow.DISABLE --><a href="{postrow.POST_LIKE_URL}" data-ajax="toggle_love"><!-- ENDIF --><!-- ENDIF --><span class="{postrow.POST_LIKE_CLASS}" id="likeimg_{postrow.POST_ID}"><!-- IF postrow.POST_LIKE_CLASS == 'liked' --><i class="fa fa-heart text-danger"></i><!-- ELSE --><i class="fa fa-heart-o text-danger"></i><!-- ENDIF --></span><!-- IF !postrow.DISABLE --><!-- IF DISABLE != 1 --></a><!-- ENDIF --><!-- ENDIF -->
	<span title="{postrow.POST_LIKERS}" class="like_count" id="like_{postrow.POST_ID}">{postrow.POST_LIKERS_COUNT}</span>
</div>
