.like, .liked { 
	float: right;
	width: 16px;
	height: 16px;
	margin-left: 1px;
	margin-bottom: 5px;
	background-size: 16px 16px;
}
.like_info, .liked_info { 
	float: left;
	width: 16px;
	height: 12px;
	margin-left: 1px;
	background: url('./images/heart-red-12.png');
	background-size: 12px 12px;
	background-repeat: no-repeat;
}
	
.like {
	background: url('./images/heart-red-16.png');
}
.liked {
	background: url('./images/heart-white-16.png');
}

.like_info {
	background: url('./images/heart-white-12.png');
	margin-bottom: 5px;
}
.liked_info { 
	background: url('./images/heart-red-12.png');
}