.lbutton {
	cursor: pointer;
	display: inline-block;
	height: 14px;
	font-size: 13px;
	white-space: nowrap;
	border: 1px solid transparent;
	border-radius: 4px;
	background: transparent none 0 0 repeat-x;
	padding: 2px 4px;
	font-family: "Open Sans", "Droid Sans", Verdana, Arial, Helvetica;
	position: relative;
	text-decoration: none !important;
	outline-style: none !important;
	vertical-align: bottom;
}
.lbutton {
	border-color: #C7C3BF;
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(top, #FFFFFF, #E9E9E9);
	background-image: -webkit-linear-gradient(top, #FFFFFF, #E9E9E9);
	background-image: -o-linear-gradient(top, #FFFFFF, #E9E9E9);
	background-image: linear-gradient(to bottom, #FFFFFF, #E9E9E9);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#E9E9E9')";
	box-shadow: 0 0 0 1px #FFFFFF inset;
	-webkit-box-shadow: 0 0 0 1px #FFFFFF inset;
	color: #D31141;
}
.lbutton:hover {
	border-color: #0a8ed0;
	background-image: -moz-linear-gradient(top, #E9E9E9, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #E9E9E9, #FFFFFF);
	background-image: -o-linear-gradient(top, #E9E9E9, #FFFFFF);
	background-image: linear-gradient(to bottom, #E9E9E9, #FFFFFF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#E9E9E9', EndColorStr='#FFFFFF')";
	text-shadow: 1px 1px 0 #FFFFFF, -1px -1px 0 #FFFFFF, -1px -1px 0 rgba(188, 42, 77, 0.2);
}
.licon-button:before {
	background: transparent 0 0 no-repeat;
	content: '';
	display: inline-block;
	float: left;
	height: 12px;
	margin: 1px 1px 1px 1px;
	width: 12px;
}
.like-button:before	{ 
	background-image: url("./images/thumb_up.png");
	background-size: 12px 12px;
	margin-right:3px
	}
.like-button:hover:before { 
	background-image: url("./images/thumb_up.png");
	background-size: 12px 12px;
	margin-right:3px
	}
	
.liked-button:before	{ 
	background-image: url("./images/thumb_down.png");
	background-size: 12px 12px;
	margin-right:3px
	}
.liked-button:hover:before { 
	background-image: url("./images/thumb_down.png");
	background-size: 12px 12px;
	margin-right:3px
	}
