.like, .liked { 
	float: right;
	width: 16px;
	height: 12px;
	margin-left: 1px;
	background-size: 16px 16px;
	position:relative;
}
.like_info, .liked_info { 
	float: left;
	width: 16px;
	height: 12px;
	margin-left: 1px;
	background-size: 12px 12px;
	background-repeat: no-repeat;
	position:relative;
}
.liked:before, .liked_info:before {
	content: "\f004";
    	font-family: FontAwesome;
	font-size: 12px;
    	position:absolute;
}

.like_info {
	margin-bottom: 5px;
}
.like:before, .like_info:before { 
	content: "\f08a";
    	font-family: FontAwesome;
	font-size: 12px;
    	position:absolute;
}

/* MODALS */
.modal {
	display: none;
	width: 95%;
	height: 80%;
	background: #fff;
	padding-right: 12px;
	position:relative;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	-o-box-shadow: 0 0 10px #000;
	-ms-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	background-color: rgba(0, 0, 0, 0.5);
}
.modal .inner {
	width: 100%;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
}
.modal a.close-modal {
	position: absolute;
	top: -12.5px;
	right: -12.5px;
	display: block;
	width: 30px;
	height: 30px;
	z-index: 999;
}
.modal .close-modal:before {
	content: "\f05c";
	color: white;
   	font-family: FontAwesome;
	font-size: 20px;
   	position:absolute;
    	top:0;
}

.modal-spinner {
	display: none;
	width: 64px;
	height: 64px;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-animation-name: modalspinner;
   	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
   	-webkit-animation-iteration-count: infinite;
   	animation-name: modalspinner;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.modal-spinner:before {
	content: "\f110";
  	font-family: FontAwesome;
	font-size: 64px;
}

@keyframes modalspinner {
   	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

@-webkit-keyframes modalspinner {
	from {transform: rotate(0deg);}
    	to {transform: rotate(360deg);}
}
