<!-- IF POSTLOVE_USE_CSS == 1 -->
<style>
	.liked { 
		float: right;
		width: 16px;
		height: 16px;
		margin-left: 1px;
		margin-bottom: 5px;
		background: url('ext/anavaro/postlove/images/heart-white-16.png');
		background-size: 16px 16px;
	}
	.liked_info { 
		float: left;
		width: 16px;
		height: 12px;
		margin-left: 1px;
		margin-bottom: 5px;
	}
	.like { 
		float: right;
		width: 16px;
		height: 16px;
		margin-left: 1px;
		margin-bottom: 5px;
		background: url('ext/anavaro/postlove/images/heart-red-16.png');
		background-size: 16px 16px;
	}
	.like_info { 
		float: left;
		width: 16px;
		height: 12px;
		margin-left: 1px;
		margin-bottom: 5px;
	}
</style>
<!-- ENDIF -->